<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,newlisttable.js"}
<form method="post" action="route.php?con=coupon_cluster&act=batch_drop" name="listForm" onsubmit="return confirm_bath();">
  <div class="list-div" id="listDiv">
    {/if}
    <table cellpadding="3" cellspacing="1">
      <tr>
        <th width="10%"><input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox"/>
          <a href="javascript:listTable.sort('agency_id'); ">{$lang.record_id}</a>{$sort_agency_id}
        </th>
        <th>标题</th>
        <th>用户</th>
        <th>满</th>
        <th>减</th>
        <th>截止日期</th>
        <th>领取日期</th>
        <th>状态</th>
      </tr>
      {foreach from=$user_coupon_list item=user_coupon}
      <tr>
        <td><input type="checkbox" name="checkboxes[]" value="{$user_coupon.user_coupon_id}" />
          {$user_coupon.user_coupon_id}</td>
        <td align="center" class="first-cell">【{$user_coupon.coupon_cluster_id}】{$user_coupon.title}</td>
        <td align="center">{$user_coupon.user_name}</td>
        <td align="center">{$user_coupon.min_amount}</td>
        <td align="center">{$user_coupon.amount}</td>
        <td align="center">{$user_coupon.end_time}</td>
        <td align="center">{$user_coupon.create_time}</td>
        <td align="center">
          {if $user_coupon.status == 0}
          未使用
          {elseif $user_coupon.status == 1}
          已使用
          {/if}
        </td>
      </tr>
      {foreachelse}
      <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
      {/foreach}
    </table>
    <table id="page-table" cellspacing="0">
      <tr>
        <td>
        </td>
        <td align="right" nowrap="true">
          {include file="page2.htm"}
        </td>
      </tr>
    </table>
    {if $full_page}
  </div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.new_url = 'route.php?is_ajax=1&con=user_coupon';
  listTable.act = 'index_query';
  {foreach from = $filter item = item key = key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}
