<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,newlisttable.js"}
<div class="list-div" id="listDiv">
{/if}
    <table class="list-td" cellpadding="0" cellspacing="1" style="txet-align:center;">
        <tr>
            <th width="10%">Banner编号</th>
            <th>Banner名称</th>
            <th>位置编码</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        {foreach from=$place_all item=place} 
                <tr>                                     
                    <td align="center">{$place.id}</td>
                    <td align="center">{$place.place_name}</td>
                    <td align="center" class="first-cell">{$place.place_code}</td>
                    <td align="center">{if $place.place_status==0}开启{else}关闭{/if}</td>
                    <td align="center"><a href="route.php?con=banner&act=place_remove&place_id={$place.id}" title="{$lang.edit_order}">删除</a> |
                                       <a href="route.php?con=banner&act=banner_list&place_id={$place.id}" title="{$lang.edit_order}">查看列表</a>|
                                       <a href="route.php?con=banner&act=update_place&id={$place.id}" title="{$lang.edit_order}">编辑</a>
                    </td>
                </tr> 
        {foreachelse}
        <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
        {/foreach}
    </table>
    <table id="page-table" cellspacing="0">
        <tr>
            <td>
                <input name="remove" type="submit" id="btnSubmit" value="{$lang.drop}" class="button" disabled="true" />
                <input name="act" type="hidden" value="batch" />
            </td>
            <td align="right" nowrap="true">
                {include file="page2.htm"}
            </td>
        </tr>
    </table>
{if $full_page}
</div>
<script type="text/javascript" language="javascript">
<!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
   listTable.new_url = 'route.php?is_ajax=1&con=banner';
  listTable.act = 'index_query';
  {foreach from = $filter item = item key = key}
    listTable.filter.{$key} = '{$item}';
  {/foreach}
{literal}
    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    } 
{/literal}
//-->
</script>
{include file="pagefooter.htm"}
{/if}
