<!-- $Id: goods_info.htm 17126 2010-04-23 10:30:26Z liuhui $ -->
{include file="pageheader2.htm"}
{insert_scripts files="../js/utils.js,../js/jquery.min.js,selectzone.js,colorselector.js,../js/linkage.js"}
<script type="text/javascript" charset="utf-8" src="js/color/jscolor.js"></script>
{if $warning}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
    <li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$warning}</li>
</ul>
{/if}

<!-- start combo form -->
<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
        <p>
            <span class="tab-back" id="route-tab">行程信息</span>
        </p>
    </div>

    <!-- tab body -->
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="route.php?con=combo_travel&act=edit" method="post" name="theForm" >
            <!--行程-->
            <table width="90%" align="center">
                <!--表单部分-->
                <tr id="travelContent">
                    <td class="label">所属分类：</td>
                    <td>
                        <select name="combo_travel_type_id" id="combo_travel_type_id">
                            {foreach from=$combo_travel_type_list item=combo_travel_type}
                            <option value="{$combo_travel_type.combo_travel_type_id}" {if $combo_travel_type.combo_travel_type_id eq $combo_travel.combo_travel_type_id}selected{/if}>{$combo_travel_type.type_name}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr id="travelContent">
                    <td class="label">行程标题：</td>
                    <td><input type="text" id="combo_travel_title" name="combo_travel_title" maxlength="60" value="{$combo_travel.combo_travel_title}" /></td>
                </tr>
                <tr>
                    <td class="label">行程天数：</td>
                    <td><input type="text" id="combo_travel_day" name="combo_travel_day" maxlength="60" value="{$combo_travel.combo_travel_day}" /></td>
                </tr>
                <tr>
                    <td class="label">行程日期：</td>
                    <td><input type="text" id="combo_travel_date" name="combo_travel_date" maxlength="60" value="{$combo_travel.combo_travel_date}" /></td>
                </tr>
                <tr>
                    <td class="label">行程描述：</td>
                    <td><textarea id="combo_travel_content" name="combo_travel_content" value="{$combo_travel.combo_travel_content}" style="width:400px; height: 100px;">{$combo_travel.combo_travel_content}</textarea></td>
                </tr>
                <tr>
                    <td class="label">行程图片：</td>
                    <td>
                        <div id="container6">
                            <a class="btn btn-default btn-lg " id="img_upload6" href="#" >
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>选择文件</span>
                            </a>
                            <font id="upload_status6"></font>
                            <input type="hidden" name="combo_travel_img" id="img_id6" value="{$combo_travel.combo_travel_img}"/>
                        </div>
                    </td>
                </tr>
            </table>
            <!--表单提交&&重置-->
            <div class="button-div">
                <input type="submit" value="{$lang.button_submit}" class="button"/>
                <input type="hidden" name="act" value="{$act}"/>
                <input type="hidden" name="combo_id" value="{$combo.combo_id}"/>
                <input type="hidden" name="id" value="{$combo_travel.combo_travel_id}" />
            </div>
        </form>
    </div>
</div>
<!-- end goods form -->
{insert_scripts files="../js/utils.js,validator.js,tab.js"}
<script type="text/javascript" charset="utf-8" src="js/qiniu/plupload.full.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/qiniu/qiniu.js"></script>
<script type="text/javascript" charset="utf-8" src="js/qiniu/qiniu_init.js"></script>
<script type="text/javascript" charset="utf-8" src="js/color/jscolor.js"></script>
<script language="JavaScript">
    linkage.isAdmin = true;
    //套餐logo
    new QiniuInit().upload({
        browse_button:"img_upload",
        drop_element:"container",
        upload_status:"upload_status",
        img_id:"img_id"
    });
    //套餐图片
    new QiniuInit().upload({
        browse_button:"img_upload2",
        drop_element:"container2",
        upload_status:"upload_status2",
        img_id:"img_id2"
    });
    //套餐场馆图片
    new QiniuInit().upload({
        browse_button:"img_upload3",
        drop_element:"container3",
        upload_status:"upload_status3",
        img_id:"img_id3"
    });
    //套餐介绍头图
    new QiniuInit().upload({
        browse_button:"img_upload4",
        drop_element:"container4",
        upload_status:"upload_status4",
        img_id:"img_id4"
    });
    //套餐介绍底图
    new QiniuInit().upload({
        browse_button:"img_upload5",
        drop_element:"container5",
        upload_status:"upload_status5",
        img_id:"img_id5"
    });
    //套餐行程图片
    new QiniuInit().upload({
        browse_button:"img_upload6",
        drop_element:"container6",
        upload_status:"upload_status6",
        img_id:"img_id6"
    });
</script>
{include file="pagefooter.htm"}
