<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,newlisttable.js"}
<form method="post" action="route.php?con=pitch&act=batch_drop" name="listForm" onsubmit="return confirm_bath()">
<div class="list-div" id="listDiv">
{/if}
  <table cellpadding="3" cellspacing="1">
    <tr>
      <th width="10%"> <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
          <a href="javascript:listTable.sort('agency_id'); ">{$lang.record_id}</a>{$sort_agency_id} </th>
      <th>排序编号</th>
      <th>赛场名称</th>
      <th>所在城市</th>
      <th>操作</th>
    </tr>
    {foreach from=$pitchs item=pitch}
    <tr>
      <td><input type="checkbox" name="checkboxes[]" value="{$pitch.id}" />
        {$pitch.id}</td>
      <td >
       {$pitch.pitch_sequence}</td>
      <td class="first-cell">
       {$pitch.pitch_name}</td>
      <td>{$pitch.region_id|address}</td>
      <td align="center">
        <a href="route.php?con=pitch&act=update&id={$pitch.id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16"></a> 
        <a href="javascript:confirm_redirect('确定要删除赛场?', 'route.php?con=pitch&act=remove&id={$pitch.id}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a>      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="4">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td>
      <input name="remove" type="submit" id="btnSubmit" value="{$lang.drop}" class="button" disabled="true" />
      <input name="act" type="hidden" value="batch" />
    </td>
    <td align="right" nowrap="true">
    {include file="page2.htm"}
    </td>
  </tr>
</table>
{if $full_page}
</div>
</form>
<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};
  listTable.new_url = 'route.php?is_ajax=1&con=pitch';
    listTable.act = 'index_query';
  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  {/literal}
  //-->
</script>
{include file="pagefooter.htm"}
{/if}
