<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>用户协议</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/index.css" media="all" />
  <link rel="stylesheet" href="css/view.css" type="text/css"  media="all" />
<!--<link rel="stylesheet" type="text/css"  href="css/cart.css" media="all" />-->
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="all">
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body>
<!--start-->
<!--end-->
<!--start 头部-->
{include file="header.html"}
<!--end 头部-->
 <div id="somedialog" class="dialog">
            <div class="dialog__overlay"></div>
            <div class="dialog__content">
                <div style="width: 100%;text-align: center;font-weight:bold;">
                    <p>用户购买协议及持票人须知</p>
                </div>
                <div class="xieyi">
   <pre align="left">
1. 本协议为购买人在盛开国际旅行社在线票务商城（网址：webshop.shankaisports.com，以下简称为“本站”）购买相关产品与北京盛开国际旅行社发展有限公司（以下简称为“盛开国际旅行社”）之间签订的协议。
2. 请购买人仔细阅读贵宾款待门票套餐持票人须知(hospitality terms and conditions)和本购买协议。如果购买人按要求提供了相关信息、对所购买的产品成功提交订单并支付费用， 即表示购买人接受贵宾款待门票套餐持票人须知的各项规定并同意本协议各项条款的约定，双方于网上签订的电子合同成立；如该购买意向得到了相关权利人的同意并由盛开国际旅行社根据购买人所提供的电子邮箱通知购买人后，该合同生效；如该购买意向得不到相关权利人同意，盛开国际旅行社将全额退还所付款项，合同撤销，盛开国际旅行社不承担包括利息在内的其他任何责任。
3. 盛开国际旅行社根据赛事权利人的官方授权在本站自行销售或作为权利人的代理商在本站销售官方赛事贵宾款待门票套餐。贵宾款待门票套餐内容因赛事不同而异，实际购买的商品详情请到“个人中心-购买信息”中查看。如赛事权利人要求直接与购买人签订贵宾款待门票套餐的协议，购买人同意签署该协议，盛开国际旅行社将行使赛事相关权利人代理商的相关职责。
4. 本站销售的贵宾款待门票套餐属于《消法》第二十五条规定的根据商品性质并经消费者在购买时确认不宜退货的商品，不适用七日内无理由退货。
5. 除贵宾款待门票套餐外，如有必要，本网站推荐一些与之配套的交通、住宿、旅游产品，购买人可在自愿的基础上与旅行社签署这类产品的服务合同，盛开国际旅行社给予必要的协助。
6. 购买人义务
1)     所提供的证件及相关身份资料必须真实有效，且由该本人使用该贵宾款待门票套餐；
2)     自行及时办理旅行证件、签证、国际机票，应保证自备证件、签证、国际机票符合旅行要求，自行承担逾期所导致的损失和责任；
3)     应确保自身身体条件能够完成观赛活动，并有义务在签订本合同时将自身健康状况告知；
4)     应告知参与人员并使之了解本合同中涉及观赛人员权利义务的相关条款。
5)     应于行程中妥善保管自己的行李物品和证件，贵重物品应随身携带，或采取存放于酒店保险箱等保护措施。由于购买人自身原因损坏、丢失或影响行程的，责任自负。
6)     应尊重目的地的各种法规、宗教信仰、民族习惯和风土人情以及国际足联观赛的所有规定，在观赛活动中应遵守观赛纪律，服从现场工作人员的指挥。
7)     在行使权利的同时，不得损害国家的、社会的、集体的利益和他人的合法权利；
8)     一旦购票成功，根据赛事组织票务销售的有关条款将不得退换，在购买退票险的情况下可以退票；
9)     未经盛开国际旅行社批准，购买人无权向第三方转让所购得球票，购买人亦不得加价出售所购球票；
10)   应遵守相关权利人颁布的购买人须知。
7.     盛开国际旅行社权利义务
1)     应当本着谨慎、周到的原则为购买人提供服务，除特别约定外盛开国际旅行社提供的服务不得低于合同约定标准；
2)     对有可能危及购买人人身、财物安全的项目，应当向购买人做出真实的说明和明确的警示，对当地可能引起购买人误解或产生冲突的法律规定、风俗习惯、宗教信仰等，应事先给购买人以明确的说明和忠告；
3)     接受购买人委托时提示购买人自愿购买观赛期间的个人保险， 包括但不限于退票险；
4)     如安排实际购买服务以外需要收费的项目，必须事先征得购买人同意；
5)     应协助购买人提供办理签证所需与款待门票套餐相关的文件；
6)     保证已获得所销售的相关赛事款待门票套餐之合法授权并不侵犯任何人的权利，否則须即時退还购买人已支付的全部款项并赔偿购买人之所有损失及費用；
7)     在网站上公布由相关权利人提供的购买人须知信息。
8.     购买人违约责任
 购买人违反本合同的约定或相关权利人制定的购买人须知的规定，需承担相应的违约责任且盛开国际旅行社不因此退还任何已付款项。
9.     盛开国际旅行社违约责任
盛开国际旅行社提供的所销售的赛事款待门票套餐所包含的服务应合法、有效，并能保证购买人持票人员能享受到与购买相适应的服务（因购买人的原因无法享受的情况除外）；否则，盛开国际旅行社应赔偿购买人因此遭受的损失。
10.     第三方责任 
由于出入境管理局、各国领馆、航空公司、保险公司、及其他有关机构等不可归责于盛开国际旅行社的原因导致购买人人身、财产权益受到损害的，包括但不限于，航班 延误或取消、护照延期、签证拒签或未按时出签、不得出入境等，应由购买人自行协商解决，盛开国际旅行社除在力所能及的范围内予以协助外，不再承担其他责任。
11.  赛事的推迟、取消等
赛事可能会因为不可抗力、安全、权力当局的决定等原因变更比赛时间、日期和地点，也可能因为各种原因被取消、放弃、延期和重赛。在这种情况下：
1）盛开国际旅行社按欧足联的票务政策办理，只退还购买人欧足联的退款额，不承担利息、旅行、住宿等其他费用的退款责任；
2） 在比赛推迟的情况下，赛事款待门票套餐仍然有效，故不款。
12. 旅游意外、旅游保险及赔偿
如属购买人自身疾病、个人过错、及在自行活动期间内发生的人身财物损害，盛开国际旅行社不承担任何直接或连带责任；但在理赔过程中，盛开国际旅行社可给予必要协助。
13. 保密条款
在履行本合同中可能被盛开国际旅行社或盛开国际旅行社人员知晓的关于购买人的业务信息、文件、资料、数据或者客户，包括但不限于本协议的存在及其条款，在本协议中都应被认为是购买人的商业秘密，未经购买人事先的书面同意，盛开国际旅行社不能使用，也不能在本协议履行期间或终止之后的任何时候对外传播或者泄漏给本协议以外的第三方。
未经购买人事先书面同意，盛开国际旅行社不得以任何形式向本协议以外的第三方告知或宣传、盛开国际旅行社于本协议项下所提供的服务及其内容。如盛开国际旅行社违反本条约定，购买人有权提前终止本协议，并有权依法要求盛开国际旅行社承担赔偿责任。
14. 争议解决和法律适用
任何由本协议产生的或与本协议有关的争议应通过双友好协商解决。当一方向另一方发出书面协商通知，协商应立即开始进行。如果在该通知发出后九十(90)天内争议仍无法得到解决，任何一方可向北京市朝阳区人民法院提起诉讼。本合同的订立、效力、解释、履行及争议的解决，均受中华人民共和国法律管辖。
   </pre>
                   

                   <div style="width:100%;text-align:center;font-weight:bold;margin:10px 0">贵宾款待计划的持票人须知</div>  
   <pre align="left">
一、  前  言
1.范围
以下持票人须知的规定用以管理购买和使用2016年欧洲杯™官方款待计划门票的流程。
该须知适用于任何客户和持票者。
申请人在接受此持票人须知的规定之后（参见条款四）才能购买官方款待计划。持票人必须仔细阅读、自愿接受并始终遵守此条款的内容及球场的相关规定。如果本条款内容与球场规定出现冲突，应当优先遵守本条款的各项内容。
2．定义
协议书：根据条款四的相关规定，客户同意受本须知的约束为购买官方款待计划而签订的协议。
申请人：任何申请购买官方款待计划的个人，无论是以自身名义还是代表当事人。
客户：根据本持票人须知的规定，签订购票协议的个人或其他法人实体。如果涉及商业实体，“客户”应包含订单申请人正式授权的该实体的代表。
EURO 2016 SAS:一家法国股份制公司，其公司的注册地址是112, avenue Kléber-CS 81671,75773 Paris CEDEX 16,France，在巴黎的公司注册登记号为531 -326-080。
禁止人员包括：
（1）法国法律规定下受足球行政或司法禁令禁止的个体；
（2）EURO 2016 SAS或欧足联已知的或有充分理由认定的受欧足联成员组织、欧足联、国际足联等管理机构禁令禁止观看和参加足球比赛，或去场馆观看比赛的个体；
（3）被球迷俱乐部或国家足球队的官方球迷俱乐部取消成员资格（或在世界上任何一个国家的司法规定下，被足球管理机构取消同等官方球迷俱乐部成员资格）的个体。
（4）EURO 2016 SAS、欧足联或欧足联成员组织已知的或有充分理由认定的参与(或直接间接促进)播出未授权广告、提供、销售或转让球赛或其他体育赛事的门票或票务套餐的个体及法人实体。
 最后的销售期限：始于UEFA EURO 2016™首场比赛的前一个月。
嘉宾：陪同客户的亲属、朋友、员工、同事、商业客户或其他观赛的人员，他们的比赛门票和通行证可以由客户依照本条款移交。
款待设施：在整个球场的经营场所或球场的附近进行官方款待活动的场所，需要比赛门票或通行证才准入。款待设施根据当事人购买的款待套餐的种类有所不同。
比赛：UEFA EURO 2016™的任何一场比赛。
比赛门票：为客户提供的（依照本须知规定），使持飘人并获得授权可以占用球场的规定坐席观看比赛的票证。
官方销售机构：由EURO 2016 SAS或欧足联指定的可以在申请人所在地进行款待套餐营销、推广的销售代理。
订单：由想购票的申请人提交给EURO 2016 SAS的订单，格式需符合EURO 2016 SAS的要求。该订单应具体标明当事人需要的套餐数量、种类、价格及当事人的具体信息（详见条款四）。依照条款4.7的规定，只有当EURO 2016 SAS确认后，该订单才具有法律效力。
套餐：由EURO 2016 SAS为2016欧洲杯提供的款待套餐，包含比赛门票和通行证。详情请登录欧足联官网查询，EURO 2016 SAS对相关信息也会实时更新。
通行证：准许持票人进入相应等级接待设施的证件。
产品：由EURO 2016 SAS为比赛提供的套餐。参考本条款时，在本须知中“套餐”和“产品”可互指。
退款政策：比赛出现延期、弃权或取消情况下，适用于客户的退款政策。退款政策请参见欧足联官网。
销售：根据须知的规定签署协议后对款待套餐的销售。
球场：比赛进行的场所或相关场所以及由欧足联管理的其他持比赛门票或通行证方可进入的区域。
球场管理规则：有效力的2016欧洲杯的球场规则任何时候都具有法律效力。登陆欧足联官方网站可查询最新版本。
持票人须知：规范套餐购买及使用流程的全部持票人须知。
持票人：任何依照规定的条款，实际和合法拥有比赛门票及通行证的个体（包括客户和嘉宾）。
UEFA：欧洲足球联合会。Route de Genève 46, 1260 Nyon 2, Switzerland and any wholly owned subsidiary thereof, including but not limited to, UEFA Events SA.瑞士尼龙日内瓦46号及它的全资子公司，包括但不仅仅只有欧足联项目
2016欧洲杯官方款待计划门户网站: 2016欧洲杯的门户网站仅限个人账号登录，账号由EURO 2016 SAS提供给申请人。
2016欧洲杯官方款待计划网上商城: EURO 2016 SAS向公众开放官方网上商城，以便直接通过EURO 2016 SAS 购买套餐。
欧足联网站: 官网是www.uefa.com（包括2016欧洲杯官方款待计划的相关网页）。
二、  款待套餐的销售
3.套餐选项及权益
3.1 根据销售情况，欧足联官网提供不同的套餐选项。
3.2 EURO 2016 SAS具有单方面更改套餐的范围、内容及形式的权利，也有权在任何时间以任何理由（包括但不仅限于保护公众安全的理由）提供额外的套餐选择。如果更改发生在当事人已购买套餐的情况下，EURO 2016 SAS将会通过当事人在订单中提供的联系方式，尽快告知对方。
3.3 欧足联官网上所有套餐的价格均以欧元结算。关于增值税的具体信息将公布在欧足联官方网站上或通知到客户（例如，标注在发票上）。增值税由客户负担。
3.4 客户在购买套餐时必须遵守以下购买条件：
A．关于贵宾包厢套餐，不同贵宾包厢的容客量会有所差异，我们只整体销售；
B．在提供桌餐的情况下，如果您购买少于10人的套餐（或者大于10，但不成倍数or a number greater than 10 but not a multiple thereof）则可能需在相同款待区与其他顾客或嘉宾共享一张桌子。
C. 关于不含贵宾包厢的套餐，您必须购买至少两款产品。
EURO 2016 SAS保留在任何时候单方面增加、修改或放弃上述购买条件的权利。此外，EURO 2016 SAS会及时通知顾客适用于某一产品的新增加的购买条件。
关于贵宾包厢套餐，EURO 2016 SAS也将保留在同一球场变更既定包厢位置的权利。EURO 2016 SAS会尽最大的努力提前告知顾客相关变更信息。
3.5. 关于订单，EURO 2016 SAS不承担以下责任：
A．申请人在订单中提供的信息不正确或不完整；
B．互联网的技术故障、计算机软硬件的故障或其他任何用于提交订单的通讯手段技术故障（不包括由EURO 2016 SAS的严重疏忽或故意不当行为导致的）导致EURO 2016 SAS没有收到订单或收到的订单不完整。
（4、5、6部分只适用在欧足联网上商城购买款待门票的情况，故省略。）
三、  款待套餐的使用说明
7．比赛门票及通行证的使用说明
7.1.如需将比赛门票转让给其他宾客，需要做以下保证：
A．门票仅被当事人用于个人或公司目的；
B．此转让不产生任何对价。
7.2.转让人应当全权负责把比赛门票交给客户并确保其知晓、同意遵守相关持票人须知。尤其注意，转让人应为他们的客户提供一份纸质条款并保证客户会遵守该条款。
7.3.除条款中明确允许的以外，严禁未经EURO 2016 SAS 或欧足联的事先书面批准转售或转让比赛票、通行证或套餐的其他任何部分。违反本须知取得的比赛票或通行证均无效，并且与之相关的所有权利将被撤销。任何违反本须知规定取得比赛门票或通行证的人，且企图借此非法入场的人将不准入、被驱逐并接受法律制裁。
每一位持票人，当知晓所购款待套餐（比赛门票或通行证）没有经过授权销售时，应当上报EURO 2016 SAS或者欧足联等相关主管机构。      7.4.款待套餐，比赛门票或通行证不应用于：
A.任何推销、广告、募集资金、拍卖或类似目的；
B．作为任何比赛，抽奖活动、彩票的奖品（或奖品的一部分）；
C.作为商品或服务组合的一部分捆绑销售；
D．作为旅行或款待套餐的一部分捆绑销售（例如，与航班，酒店，比赛门票，通行证捆绑）。
为避免歧义，任何持票人不得场馆内或款待设施内展示任何商业品牌。如果有理由相信会出现隐性营销行为，EURO 2016 SAS或欧足联有权利分散持票人群体。
7.5. 持票人不应当：
A．从事任何与EURO 2016 SAS,欧足联,2016欧洲杯或任何与比赛相联系的广告或宣传推广活动；
B．在体育场或接待设施的任何地方，销售或供应、宣传、分发、提供产品或服务，以及通过穿着带有明显商业信息的衣服或带进有明显商业信息的物品进体育场或其他接待场所。
C．通过门票或通行证进行营销或宣传活动，包括但不局限于展示任何客户的公司名称，标志等。
7.6.所有比赛的门票或通行证属于EURO 2016 SAS或欧足联所有。仅在客户完全遵守本须知的情况下为其使用。
8.入场
8.1.允许进入体育场的时间将通知到客户或在欧足联网站上公布。
8.2．进入体育场和相关接待设施应:
    A.遵守:
      I．持票人须知；
      Ⅱ.体育场规定；
      Ⅲ.所有当前和未来的有关体育场馆管理、赛事参与、门票使用、体育场馆一般安全的法律(包含健康和安全需要)、地方法则、条例、命令、指示。还包括警察、消防大队、主办方及其他对赛事场馆有管辖权的机构的规定。
      Ⅳ.EURO 2016 SAS 的和欧足联的指示、准则和政策(包括适用于接待场所的禁烟政策);
    B.每一个人(不论年龄)都必须出示有效的比赛门票和通行证才允许进入赛场。根据需要，可能还要提供包含照片和签名的有效身份证件(如护照、 身份证)。比赛期间若自行离开球场将不被允许再次进入。
     8.3.仅持有通行证（没有比赛门票)的人不可以进入球场。根据要求，每一个持票人必须同时出具门票和通行证才可入场。
9.在球场的行为
9.1.出于安全目的，所有观看比赛的持票者在服务人员、安保人员或其他有法律授权的人员的要求下应：
A.提供有效的比赛门票、通行证及含有照片和签名的有效证件(如护照、 身份证等)；
B.接受安检和测试(含利用科学仪器的测试)以确保没有携带武器或其他违禁、未经批准的物品。安保人员、服务人员或警方有权检查入场人员的衣物和其他随身物品；
C.遵守上述人员的指示和引导。
9.2.体育场规定中含有禁带物品的详细清单和禁止行为，每个持票人应完全遵守法规。比赛门票中标明了须知的缩写版本和体育场规定或受管制的物品和行为的简单图标，持票人必须充分遵守。
9.3.严禁在体育馆内从事以下活动，不限于:
A.进入不对外开放的区域(例如功能室、贵宾和媒体区等)或者门票和通行证未被授权进入的区域；
B．在通往人行道、车行道、入口、出口（包括紧急出口）的区域游荡；
C．未经授权的其他行为。
9.4.贵宾款待区、普通观赛区不会根据不同球迷所支持的参赛团队而做区隔，因此每一位观赛者都需要对自己的言行负责。
10.损害赔偿
10.1.客户应明确所有由观赛者造成的球场内设施的损坏需由其本人独自承担相应的责任并照价赔偿给球场带来的损失。
11.声音和图像录制
11.1．在现场观看比赛时，持票人同意被欧足联或受欧足联委派的第三方机构进行现场拍照、摄影或录像，且欧足联（包括由欧足联授权的第三方机构）有权在全球范围内免费使用、播出和出版这些影像资料。
11.2. 持票人不得出于个人或家庭观赏以外的商业目的，记录、传播与比赛或场馆有关的声音、图像、文字资料(包含比赛的结果、相关统计数据)。严禁在任何媒体(包括互联网、电台和电视台)传播或协助他人传播部分或全部关于比赛的声音、图像、数据、文字描述或结果。
四、  其他条款
12.违反本条款的规定
12.1. 任何没有依照本须知的规定取得比赛门票或通行证的人将被禁止进入球场或者利用款待服务设施，已进入球场但行为违反本须知及球场规定的人将被驱逐且不退还任何费用。在此情况下，持票人的比赛门票和通行证将作废，所有相关的权利也将一并注销。非法进入的人员应为自身的违法行为承担相应法律责任。此外，根据有关部门的调查需要，持票人需要提供所购门票的卖方及交易地点；
12.2.客户须保证EURO 2016 SAS、欧足联及其分支机构、官员、职工、代理人、立约人免受任何责任、损失、索赔等，包括但不限于以下法律和其他专业性费用：
A．由客户和嘉宾自身行为疏忽引起的人身伤害或财产损失；
B．由免责方在实施须知时所引起的责任，无论诉讼是否已经开始；
C.为修复客户和嘉宾的疏忽行为对场馆及接待设施造成的破坏（除常规损耗）而由免责方引起的责任；
13.免责声明
13.1. 按照本条下述内容，EURO 2016 SAS 和欧足联不对其以外的任何人的行为或疏忽或违约产生的责任负责，持票人也不会就这类责任对EURO 2016 SAS 和欧足联提出任何性质的主张。
13.2. 在相关法律允许的范围内，EURO 2016 SAS、 欧足联和其附属公司、官员、 雇员、 代理人和承包商不对持票人的任何损失、伤害负责，包括持票人的财产损失 (例如丢失门票或通行证)。
13.3.根据 13.2 条的规定，EURO 2016 SAS 和欧足联对持票人与本须知有关的累计责任，无论是违约责任还是侵权责任（包括疏忽）、或其他责任，不得超过在此之前EURO 2016 SAS在实际客户收取的相关款待门票费用的数额。
13.4.尽管 13.2 和 13.3条款做了相应规定，但本须知不排除或限制个人(包括官员、 雇员和代理人)的过失、欺诈或故意不当行为造成的死亡或人身伤害责任。
13.5.在服从13.4条规定的前提下，EURO 2016 SAS和欧足联不承担持票人的任何非直接的、附带的、特殊的、间接的损失或损害，或任何利润或收入损失、使用损失、业务或合同损失及机会的损失，无论是基于合同、侵权或其他责任。
13.6.本须知条款不会明示或暗示地影响任客户或持票人根据相关法律所持有的法定权利。
14.违约
14.1.如果EURO 2016 SAS有合理理由认为持票人:
A.   在体育场或任何接待设施内引起扰乱或噪音；
B.   威胁体育场或接待设施内其他人的安全；
C.   在比赛前或比赛中违反本须知或体育场规定及其他相关法律；
D.   进行任何未经授权的广告、销售、供应或转让(或捐赠给愿意支付其他商品或服务的人) 任何套餐、 比赛门票或通行证或以其他方式便利 (直接或间接) 任何此类未经批准的活动，
那么他将承担以下后果：
1)   通过购买款待计划、比赛门票、通行证所获得的所有权利将被取消且没有任何退款;
2)   未遵守须知而获得门票或通行证的人不准进入体育场，已进入的人会被赶出球场，并承担相应法律责任;
3)   Euro 2016 SAS 或欧足联有权拒绝持票人进入体育场或接待设施，且不提供任何退款;
4)   Euro 2016 SAS 或欧足联有权要求这些人离开体育场和接待设施，且不提供任何退款。
       本条款下的Euro 2016 SAS 和欧足联的权利和补救措施可以由其他条款或根据法律实施。
15.未经授权的观众
若比赛门票、通行证是遵照须知7.1条获得且观赛人员不在禁入球场名单内才允许入场观赛。
16.数据
16.1．作为数据控制方，EURO 2016 SAS将按1978 年1月6日修订后的法国律法N°78-17收集、处理客户的个人信息，这些信息都会被保存在欧足联的数据库中。客户同意其个人及嘉宾信息将被用于比赛的组织和运营（特别是款待销售和其它相关的安全措施）；
16.2． EURO 2016 SAS 和欧足联因上述原因可以将客户的个人数据和嘉宾的名字提供给第三方，包括主办机构和体育场所有人(或其代理人)。
此外，如果客户已同意订单中的事项，其个人数据可用于向他们(或嘉宾)提供关于产品、 服务、商业活动和欧足联活动的信息。客户认可这些数据可能被传播到欧洲经济区 (EEA) 以外的国家，而这些国家可能无法提供等效或相应级别的信息保护。
16.3．客户和嘉宾有权依照法国律法N°78-17（修订于1978年1月6日），查阅及更改由EURO 2016 SAS处理的个人信息数据。
有关信息修改的任何请求应发送到 hospitality@euro2016.fr.
17.不可预知的情况
17.1. 由于不可预知的特殊情况: 不可抗力、安全因素或其他主管当局作出的影响比赛进行的决定，欧足联有权更改比赛时间、日期和场地。
17.2．出现取消、推迟或重新比赛的情形时，条款13仍有法律效力，购买者受退款政策的约束，其条件包括：
A.仅就款待套餐的面值退款给顾客，而不是嘉宾；（退款不包括顾客或嘉宾用于交通和住宿的费用）
B.如果比赛推迟，款待套餐(包括比赛门票和通行证)对重新安排的比赛同样有效；
C.依照上述规定和条款13.2、13.4，EURO 2016 SAS和欧足联对此类比赛取消、推迟或重赛以及其他比赛中出现的状况不承担任何责任。
18.信息
18.1.有任何资讯需求请写信给EURO 2016 SAS。
地址:112，avenue Kléber—CS 81671,75773 Paris CEDEX 16,France
或发送电子邮件至: hospitality@euro2016.fr.  
19. 可分割、 修订和放弃的条款
19.1．EURO 2016 SAS及欧足联有权在必要时更改条款。包括为保证比赛的顺利安全进行而更改体育场规定。如果这些变动会影响顾客的实际权利，EURO 2016 SAS会告知这些变化；
19.2.在不影响条款19.1的情况下，如果EURO 2016 SAS和欧洲足联决定比赛门票或通行证将以电子形式发行，会及时通知顾客。该情况下，附加条款和条件仍适用；
19.3．若有主管法院、 监管机构或机关声明部分条款作废、无效、非法或不可强制执行，其余部分仍视为具有法律效力；
19.4. 任何一方对违约责任进行追究的弃权只有专门通过书面弃权书的方式表达才有效力， 对一种违约行为的弃权不能被理解为对其他违约行为的弃权。一方延迟或不行使某一权利或救济或部分行使某一权利或救济，只表明对不行使部分产生影响，而不应阻止对其他部分的权利和救济产生影响。须知条款中的权利和救济是可累积的（明示不可积累的除外）并不排斥任何一方根据相关法律可获得其他的权利和救济。
19.5. EURO 2016 SAS无需得到客户的同意，有权转让、分派、再授权或转包其权利和义务给欧足联。
20. 作准文本
20.1.英文版须知已起草完成，在欧足联官方网站上即可获取。法语翻译版也可获得，若两个版本存在差异，皆以英文版为准。
21.通则
21.1.客户同意本须知并代表嘉宾接受本须知（客户应告知嘉宾本须知的内容）如果客户是一个业务实体，合同中的商业实体代表应及时获得正式授权。被授权人在某些情况下要为嘉宾的行为承担个人责任。
21.2.本须知构成双方之间的完整协议，任何一方没有与本须知有关的其他任何声明、陈述、保证及承诺。
21.3.如果持票人未遵守条款的规定，EURO 2016 SAS 和欧洲足联有权在不影响其他补救措施的情况下:
A．将持票人带至球场内的其他区域；
B．将持票人驱逐出球场；
C． EURO 2016 SAS不再向顾客提供比赛门票及通行证，且无任何退款。
21.4.该条款适用于法国法律。双方同意法国巴黎法院拥有排他的管辖权来解决有关本条款的所有争议。EURO 2016 SAS和欧足联也有权在客户的户籍所在地法院寻求临时的禁令措施。
</pre>
                </div>
                <center>下载<a href="download.php?type=file&file_name=shopContract.pdf" target="_blank"
                              style="color:#23527c">《用户购买协议》</a>及<a
                        href="download.php?type=file&file_name=chipiaorenxuzhi.pdf" target="_blank"
                        style="color:#23527c">《贵宾款待计划的持票人须知》</a></center>
                <div style="width: 100%;text-align: center;padding-top:20px;">
                    <button id="agree_button" class="action anniu_disable" disabled="disabled" onclick="javascrtpt:window.location.href = 'check_balance.php?act=check_order&game_id={$game_id}'">同意</button>
                    <button id="disagree_button" class="action anniu_disable" disabled="disabled" data-dialog-close>不同意</button>
                </div>

            </div>
        </div>

<script type="text/javascript" src="js/pulldown.js"></script>
<script type="text/javascript">
$(function() {
    $(".flexslider").flexslider({
		slideshowSpeed: 4000, //展示时间间隔ms
		animationSpeed: 400, //滚动时间ms
		touch: true //是否支持触屏滑动
	});
});
</script>
</html>