<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>填写持票人信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all" />
	<link rel="stylesheet" type="text/css"  href="css/index.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/write.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	
	<script>
		function ticket_bearer_changed(bearer_id,order_ticket_id,order_sn){
			console.log(bearer_id,order_ticket_id);
			if(bearer_id=="-1"){
				window.location.href="bearer.php?act=add_cpr&step=order_add&order_sn="+order_sn+"&rec_id="+order_ticket_id;
				return false;
			}
			$.ajax({
				url:'bearer.php?act=bearer_name',
				data:'bearer_id=' + bearer_id + '&order_ticket_id=' + order_ticket_id,
				type:"POST",
				dataType:"JSON",
				success:relatedResponse
			});
		}
		function combo_bearer_changed(bearer_id,order_combo_id,order_sn){
			console.log(bearer_id,order_combo_id);
			if(bearer_id=="-1"){
				window.location.href="bearer.php?act=add_cpr&step=order_add&order_sn="+order_sn+"&rec_id="+order_combo_id;
				return false;
			}
			$.ajax({
				url:'bearer.php?act=bearer_info_name',
				data:'bearer_id=' + bearer_id + '&order_combo_id=' + order_combo_id,
				type:"POST",
				dataType:"JSON",
				success:relatedResponse
			});
		}
		function yanzheng(){
			var select=$(".chipiaoren").find('select');
			var flag=true;
			$.each(select,function(index,val){
				if(val.options[val.selectedIndex].value==0){
					flag=false;
				}
			});
			if(!flag){
				alert("请选择持票人");
			}else{
				document.getElementById('submit_form').submit();
			}
		}
		function relatedResponse(result){
			if(result.res == false){
				alert("同张球票不能有同一个持票人");
				location.reload();
			}else{
				document.getElementById(result['order_ticket_id']).innerHTML=result['passport_number'];
				document.getElementById("mobile_"+result['order_ticket_id']).innerHTML=result['mobile'];
				location.reload();
			}
		}
	</script>
</head>
<body>
<div class="greyBg">
	<!--start 头部-->
	{include file="header.html"}
	<!--end 头部-->
	<h3 class="accounts debugTop">持票人信息</h3>
	{if $order_ticket}
	{if $order_ticket.key}
	{foreach from=$order_ticket.key item=ticket_key}
	<div class="bearer">
		<div class="periodBg">
			<div class="period">
				<div class="fl perIcon"><img src="{$ticket_key.game_logo}"></div>
				<p class="perFont fl">{$ticket_key.game_name}</p>
				<!--<p class="perFont fl">{$ticket_key.game_name}<span>每场比赛同级球票2张起售</span></p>-->
			</div>
		</div>
		<div class="bearerTit">
			<div class="num fl" style="background: #{$ticket_key.color_value};">
				<p>{$ticket_key.numbers} </p>
			</div>
			<div class="name fl">
				<h4 style="color:#{$ticket_key.color_value};">{$ticket_key.goods_name}</h4>
			</div>
			<div class="sele fr">
				<select data-toggle="select" name="bearer_id_{$ticket.rec_id}"  onchange="ticket_bearer_changed(this.value,
				{$ticket_key.rec_id},{$order_sn})">
					<option value="0">请选择持票人</option>
					{foreach from=$bearer_info_list item=val }
					<option value="{$val.id}">{$val.cn_customer_name}</option>
					{/foreach}
				</select>
			</div>
		</div>
	</div>
	{/foreach}
	{/if}
	{if $order_ticket.info}
	{foreach from=$order_ticket.info item=ticket}
	<div class="bearer">
		<div class="periodBg">
			<div class="period">
				<div class="fl perIcon"><img src="{$ticket.game_logo}"></div>
				<p class="perFont fl">{$ticket.game_name}</p>
			</div>
		</div>
		<div class="bearerTit">
			<div class="num fl" style="background: #{$ticket.color_value};">
				<p>{$ticket.numbers}</p>
			</div>
			<div class="name fl">
				<h4 style="color:#{$ticket.color_value};">{$ticket.goods_name}</h4>
			</div>
			<!--<div class="fr compile" onclick="editBearerinfo({$ticket.id})">编辑</div>-->
		</div>
		<div class="bearerInfo">
			<div class="name">持票人：{$ticket.cn_customer_name}</div>
			<div class="passport">护照号：{$ticket.passport_number}</div>
			<div class="time">&nbsp;&nbsp;&nbsp;时间：{$ticket.add_time}</div>
			<div class="explain">
				<div class="fl">&nbsp;&nbsp;&nbsp;说明：</div>
				<img src="images/zhuanti/lbiaozji.jpg" class="fl"/>
				<p class="fl">普通球票</p>
				<span class="fl openingCeremony">开幕式</span>
			</div>
		</div>
	</div>
	{/foreach}
	{/if}
	{/if}
	{if $order_combo}->
	{if $order_combo.key}
	{foreach from=$order_combo.key item=combo_key}
	<div class="bearer">
		<div class="periodBg">
			<div class="period">
				<div class="fl perIcon"><img src="{$combo_key.combo_logo}"></div>
				<p class="perFont fl">{$combo_key.combo_name}</p>
			</div>
		</div>
		<div class="bearerTit">
			<div class="num fl" style="background: #00873D;">
				<p>hah </p>
			</div>
			<div class="name fl">
				<h4 style="color:#00873D;">{$combo_key.goods_name}</h4>
			</div>
			<div class="sele fr">
				<select data-toggle="select" name="bearer_id_{$combo.rec_id}"  onchange="combo_bearer_changed(this.value,{$combo_key.rec_id},{$order_sn})">
					<option value="0">请选择持票人</option>
					{foreach from=$bearer_info_list item=val}
					<option value="{$val.id}">{$val.cn_customer_name}</option>
					{/foreach}
				</select>
			</div>
		</div>
	</div>
	{/foreach}
	{/if}
	{if $order_combo.info}->
	{foreach from=$order_combo.info item=combo}
	<div class="bearer">
		<div class="periodBg">
			<div class="period">
				<div class="fl perIcon"><img src="{$combo.combo_logo}"></div>
				<p class="perFont fl">{$combo.combo_name}</p>
			</div>
		</div>
		<div class="bearerTit">
			<div class="num fl" style="background: #C6151D;">
				<p>111</p>
			</div>
			<div class="name fl">
				<h4 style="color:#C6151D;">{$combo.goods_name}</h4>
			</div>

		</div>
		<div class="bearerInfo">
			<div class="name">持票人：{$combo.cn_customer_name}</div>
			<div class="passport">护照号：{$combo.passport_number}</div>
			<div class="time">&nbsp;&nbsp;&nbsp;时间：{$combo.add_time}</div>
			<div class="explain">
				<div class="fl">&nbsp;&nbsp;&nbsp;说明：</div>
				<img src="images/zhuanti/lbiaozji.jpg" class="fl"/>
				<p class="fl">套餐球票</p>
				<span class="fl openingCeremony">开幕式</span>
			</div>
		</div>
	</div>
	{/foreach}
	{/if}
	{/if}
      {if $order_ticket.key || $order_combo.key}
	 <a href="bearer.php?act=add&step=center_add&order_sn={$order_sn}" class="addition">添加持票人信息</a>
            {elseif $order_ticket.info || $order_combo.info }
         <a href="submit.php?act=tijiao&order_sn={$order_sn}" class="sub">提交持票人信息</a>
             {/if}
</div>
</body>
<script type="text/javascript" src="js/pulldown.js"></script>
</html>
