<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>购买退票险</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/buy-ticket.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body class="greyBg">
	<!--start 头部-->
	<div class="header">
		<div class="headList fl">
			<a href="#" class="listL fl">
				<img src="images/lists.png">
			</a>
		</div>
		<div class="headTitle fl" style="color: #fff;">
			购买退票险
		</div>
		<div class="headSearch fr">
			<a href="#" class="searR fr">
				<img src="images/hsearch.png">
			</a>
		</div>
	</div>
	<!--end 头部-->
	<div class="gmbxp_left debugTop">
        <h3 class="fl">购买退票险</h3>
        <p class="fl">请选择需要退票险的商品</p>
        <!-- <a href="javascript:on_bx()" class="quanxuan">全选</a> -->
    </div>
	<!-- <h3 class="accounts ">持票人信息</h3> -->
	<div class="periodBg">
		<div class="period">
			<div class="fl perIcon"><img src="images/posyu.png"></div>
			<p class="perFont fl">2016&nbsp;法国欧洲杯</p>	
		</div>
	</div>
	<div class="bearer">
		<div class="bearerTit">
			<div class="check fl">
				<input type="checkbox" name="bx" value="">
			</div>
			<div class="num fl" style="background: #C6151D;">
              	<p>1</p>
            </div>
            <div class="name fl">
              	<h4 style="color:#C6151D;">法国 vs A2</h4>
            </div>      	
            <div class="fr compile">￥10.00</div>
		</div>
		<div class="explain">
			<img src="images/zhuanti/lbiaozji.jpg" class="fl"/>
			<p class="fl">黄金体验套餐</p>
			<span class="fl openingCeremony" style="color:#3C6FC7;">半决赛</span>
		</div>
	</div>
	<div class="bearer">
		<div class="bearerTit">
			<div class="check fl">
				<input type="checkbox" name="bx" value="">
			</div>
			<div class="num fl" style="background: #E79D17;">
              	<p>3</p>
            </div>
            <div class="name fl">
              	<h4 style="color:#E79D17;">法国 vs A2</h4>
            </div>      	
            <div class="fr compile">￥10.00</div>
		</div>
		<div class="explain">
			<img src="images/zhuanti/lbiaozji.jpg" class="fl"/>
			<p class="fl">黄金体验套餐</p>
			<span class="fl openingCeremony" style="color:#3C6FC7;">半决赛</span>
		</div>
	</div>
	<div class="buyTicket">
		<a href="#" class="fl checkAll">全选</a>
		<a href="#" class="fr sub">提交</a>
		<span class="allPrice fr">总计：￥20.00</span>
	</div>
	<!-- <a href="#" class="addition">+&nbsp;&nbsp;新增持票人信息</a>
	<a href="#" class="sub">提交持票人信息</a> -->
</body>
<script type="text/javascript" src="js/pulldown.js"></script>
</html>
