<!--<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>个人中心-data</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no" >
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all"/>
<link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all"/>
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all"/>
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all"/>
<link rel="stylesheet" type="text/css"  href="css/data.css" media="all"/>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>-->
<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>个人资料</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/index.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/data.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body>
<!--start 头部-->
{include file="header.html"}
<!--end 头部-->
<div class="container">
	<div class="wrapper">
        	 <div class="form">
             	<form>
            	<div class="formOne clearfloat">
            		<label class="fl">姓名</label>
            		<input class="fr" type="text" name="textone" maxlength="30">
            	 </div>
                 <div class="formOne clearfloat">
            		<label class="fl">出生日期</label>
            		<input class="fr" type="text" name="textone" maxlength="30">
            	 </div>
                 <div class="formOne clearfloat">
            		<label class="fl">性别</label>
                    <div class="fl">
                 	<div class="data-radio">
      					<input type="radio" name="optradio" id="tab-1" maxlength="30">
                        <label class="radio">保密</label>
  					</div>
   					<div class="data-radio">
   						<input type="radio" name="optradio" id="tab-2" maxlength="30">
                        <label class="radio">男</label>
 					</div>
                	<div class="data-radio">
   						<input type="radio" name="optradio" id="tab-3" maxlength="30">
                        <label class="radio">女</label>
 					</div>
                 </div>
                 </div>
                 <div class="formOne clearfloat">
            		<label class="label fl">常用邮箱</label>
            		<input class="input fr" type="text" name="textone" maxlength="30">
            	 </div>
                 <div class="formOne clearfloat">
            		<label class="label fl">公司名称</label>
            		<input class="input fr" type="text" name="textone" maxlength="30">
            	 </div>
                 <div class="formOne clearfloat">
            		<label class="label fl">联系地址</label>
            		<input class="input fr" type="text" name="textone" maxlength="30">
            	 </div>
                 <div class="formOne clearfloat">
            		<label class="label fl">手机</label>
            		<input class="input fr" type="text" name="textone" maxlength="30">
            	 </div>
                 <div class="formOne clearfloat">
            		<label class="label fl">固定电话</label>
            		<input class="input fr" type="text" name="textone" maxlength="30">
            	 </div>
                 <div class="formOne clearfloat">
            		<label class="label fl">紧急联系人电话</label>
            		<input class="input fr" type="text" name="textone" maxlength="30">
            	 </div>
                <button class="buttonfour" type="submit">确认</button>
               </form>                   
          </div>
    </div>	
</div>
</body>
<script type="text/javascript" src="js/pulldown.js"></script>
</html>
