<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body onload="tjbx.submit();">
        <div style="display: none">
        <form action="https://www.zhongan.com/open/active/shankaisports/Insure2" name="tjbx" method="post">
            业务标志： <input name="bizOrigin" value="shankai" >
            <input name="sign" value={$sign} >
            <table>
                <tr>
                    <td>
                        盛开订单号:
                    </td>
                    <td>
                        <input name="shankaisportsOrderNo" value={$shankaisportsOrderNo} >
                    </td>
                    <td>
                        购票人姓名:
                    </td>
                    <td>
                        <input name="ticketName" value={$ticketName}>
                    </td>
                </tr>

                <tr>
                    <td>
                        购票人证件人类型:
                    </td>
                    <td>
                        <input name="ticketCertiType" value={$ticketCertiType} >
                    </td>
                    <td>
                        购票人证件人号码:
                    </td>
                    <td>
                        <input name="ticketCertiCode" value={$ticketCertiCode} >
                    </td>
                </tr>

                <tr>
                    <td>
                        购票人手机号码:
                    </td>
                    <td>
                        <input name="ticketPhone" value={$ticketPhone} >
                    </td>

                </tr>
                <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
                <!--{foreach from=$menpiao_messages item=mp}-->
                <tr>
                    <td>
                        票务编码:
                    </td>
                    <td>
                        <input name="ticketCode" value={$mp.code} >
                    </td>
                </tr>
                <tr>
                    <td>
                        票额:
                    </td>
                    <td>
                        <input name="ticketAmount" value={$mp.goods_price} >
                    </td>
                    <td>
                        赛事名称(票务使用时间):
                    </td>
                    <td>
                        <input name="eventName" value={$mp.game_name} >
                    </td>
                </tr>

                <tr>
                    <td>
                        比赛日期:
                    </td>
                    <td>
                        <input name="eventDate" value={$mp.num_start} >
                    </td>
                    <td>
                        比赛场次:
                    </td>
                    <td>
                        <input name="eventNumber" value={$mp.num_name} >
                    </td>
                </tr>
                <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
                <!--{/foreach}-->
            </table>
        </form>
        </div>
    </body>
</html>