<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>修改密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/index.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/password.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body>

{include file="header.html"}
<!--end 头部-->
<!--container start-->
 <form name="formPassword" id="formPassword" action="user.php?act=act_edit_password" method="post">
<div class="container">
	<div class="wrapper">
    	<div class="content">
                 <input name="old_password" type="password" value="" placeholder="原密码" class="form-control">
                 <input  name="new_password" type="password"  value="" placeholder="新密码" class="form-control">
                 <input name="comfirm_password" type="password" value="" placeholder="确认新密码" class="form-control">
                 <button onclick="return check()" name="submit"  id="confirm_info">确认</button>
        </div> 
      </div>     
   </div>
 </form>
 <!--container end-->
 </body>
<script type="text/javascript" src="js/pulldown.js"></script>
 <script src="js/video.js"></script>
<script type="text/javascript" src="js/user.js"></script>
<script type="text/javascript" src="js/common.js"></script>
      <script>
      function check() {
          var frm = document.forms['formPassword'];
          var old_password = frm.elements['old_password'].value;
          var new_password = frm.elements['new_password'].value;
          var confirm_password = frm.elements['comfirm_password'].value;
          var msg = '';
          var reg = null;
          if (old_password.length == 0) {
              msg += '原密码不能为空' + '\n';
          }

          if (new_password.length == 0) {
              msg += '新密码不能为空' + '\n';
          }

          if (confirm_password.length == 0) {
              msg += '确认密码不能为空' + '\n';
          }
          if (new_password.length > 0 && confirm_password.length > 0) {
              if (new_password != confirm_password) {
                  msg += "两次密码输入不一致" + '\n';
              }
          }

          if (msg.length > 0) {
              alert(msg);
              return false;
          }
          else {
              document.formPassword.submit();
          }
      }
    </script>
</html>
