<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
    <title>高尔夫</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=720 user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/base.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/header.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/footer.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/flexslider.css" media="all">

    <!--<link rel="stylesheet" href="css/bootstrap.min.css " media="all">-->
    <link rel="stylesheet" href="css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" media="all"/>
    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body>
<!--start-->
{include file="header.html"}
<!--start banner-->
<div class="listed" id="ulList">
    <div id="" class="">
        <ul class="listShow">
            <li>
                <a href="lister.php?act=index&game_id=64">
                    <div class="venueImg"><img
                            src="https://img.dongsport.com/thumbimg/87/27/ed287e8a-19ac-4422-997d-6d528577105e_750xx360.jpg">
                    </div>
                    <div class="venueDetail">
                        <div class="venueTitle">斐济高尔夫6晚8天套餐</div>
                        <div class="buyNum"><span class="sporType">高尔夫</span>
                        </div>
                        <div class="products">
                            <i><span class="ding">订</span>
                            场地预订7000元起</i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
</div>
    </div>
</body>
</html>