<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>联系地址管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/pulldown.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/index.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/vouch.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/flexslider.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/user-info.css" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body>
        <!--start 头部-->  
        <div class="boxBg debugTop">
        
     {include file="header.html"}
        
            <!--end 头部-->
            <!-- 联系地址管理 -->
            <div class="topBox-bg">
               <div class="topBox-bg">
                <div class="topBox">
                   <div class="strip3">
                        <div class="region difePad">
                            <div class="fl regionLeft">
                                <label class="fr hintd">联系人姓名：</label>
                            </div>
                            <div class="fl regionRight">郝春柳</div>
                            <div class="alterBg fr">
                                <a href="#" class="compiled fl">编辑</a>
                                <a href="#" class="removen fr">删除</a>
                            </div>
                        </div>
                        <div class="region">
                            <div class="fl regionLeft">
                                <label class="fr hintd">电子邮件：</label>
                            </div>
                            <div class="fl regionRight">1234567890@qq.com</div>
                        </div>
                        <div class="region">
                            <div class="fl regionLeft">
                                <label class="fr hintd">详细地址：</label>
                            </div>
                            <div class="fl regionRight">西二旗百度大厦</div>
                        </div>
                        <div class="region">
                            <div class="fl regionLeft">
                                <label class="fr hintd">手机：</label>
                            </div>
                            <div class="fl regionRight">18210438895</div>
                        </div>
                        <div class="region">
                            <div class="fl regionLeft">
                                <label class="fr hintd">证件类型：</label>
                            </div>
                            <div class="fl regionRight">身份证</div>
                        </div>
                        <div class="region">
                            <div class="fl regionLeft">
                                <label class="fr hintd">证件号码：</label>
                            </div>
                            <div class="fl regionRight">1821043889514121411</div>
                        </div>
                    </div>
                </div>
            </div>
            </div> 
        </div> 
         <a href="personal.php">
        <div class="btn01">
            + 联系地址管理
        </div>
        </a>
    </body>
    <script type="text/javascript" src="js/pulldown.js"></script>
</html>