<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>系统提示</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/hint.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body class="greyBg">
<!--start 头部-->
<div class="header">
	<div class="headList fl">
		<a href="#" class="listL fl">
			<img src="images/lists.png">
		</a>
	</div>
	<div class="headTitle fl" style="color: #fff;">
		系统提示
	</div>
	<div class="headSearch fr">
		<a href="#" class="searR fr">
			<img src="images/hsearch.png">
		</a>
	</div>
</div>
<!--end 头部-->
<div class="hintTit debugTop">
	<p>系统提示</p>
</div>
<div class="hintCont">
	<p>修改密码成功</p>
	<div class="but">
		<a href="personal_center.php">返回到个人中心</a>
		<a href="personal_center.php">重新登录</a>
	</div>
</div>
</body>
<script type="text/javascript" src="js/pulldown.js"></script>
</html>
