<!DOCTYPE  HTML>
<html lang="zh-cn">
<head>
<title>{$passage.title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=720 user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css"  href="css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="css/pulldown.css" media="all">
<link rel="stylesheet" type="text/css"  href="css/index.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/header.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"  href="css/PassageList.css" media="all" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<body>
<!--start 头部-->
{include file="header.html"}
<!--end 头部-->
<div class="container">
	<div class="wrapper">
              <!--{foreach from=$passage  item=list }-->
    	<div class="firstText">
                <!--<a href="special.php?act=special&game_id={$game.id}">{$game.game_name}</a>-->
        	<a href="myarticle.php?act=myarticle&article_id={$list.article_id}" class="FirstLink">{$list.title}</a>
        </div>
                <!--{/foreach}-->
    </div>
</div>
</body>
<script type="text/javascript" src="js/pulldown.js"></script>
</html>
